@import "../css/reset";


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  
 main {
	flex: 1;
  }
.container{
	max-width: 1140px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 10px;
}

// .search {
// 	display: flex;
// 	height: 34px;
// 	border: 2px solid #eb1111;
// 	&__filter {
// 		background-color: #f0f4f5;
// 		padding: 0 10px;
// 		&:hover {
// 			cursor: pointer;
// 			color:  #eb1111;
// 		}
// 	}
// 	&__input {
// 		padding-left: 10px;
// 	}
// 	&__btn {
		
// 		background-color: #eb1111;
// 		border: none;
// 		&:hover {
// 			background-color: #bb1111;
// 		}
// 	}
// }

.cart {
	position: relative;
	&__quantity {
		text-align: center;
		height: 15px;
		width: 18px;
	} 
	&__btn {
		
		background-color: #33b1da;
		padding: 5px;
		width: 100px;
		display: flex;
		justify-content: space-between;
		border-top-left-radius:  4px;
		border-bottom-left-radius:  4px;
		&:hover {
			cursor: pointer;
			
		}
	}
	&:hover .cart__list {
			// display: flex;
			width: 300px;
			transition: all .3s linear;
	}
	&__list {
		position: absolute;
		flex-direction: column;
		right: 0;
		width: 0;
		background-color: #eaeaea;
		z-index: 5;
		overflow: hidden;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		background-color: #eaeaea;
		border-bottom: 1px solid #d2d2d2;
	}
	&__image {
		height: 100px;
	}
	&__title {
		padding: 10px 0;
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}
	&__link {
		text-decoration: none;
		font-size: 20px;
		color: #000;
		&:hover {
			color: #33b1da;;
		}
	}
	&__prise {
		
	}
	&__total {
		padding: 15px;
		display: flex;
		justify-content: center;
		font-size: 1.2rem;
	}
	&__total-price {
		margin-left: 15px;
	}
	&__delete {
		width: 30px;
		text-align: center;
		line-height: 100px;
		font-size: 20px;
		&:hover {
			cursor: pointer;
			color: #33b1da;
		}
	}
}

.filter {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #464646;
	color: #fff;
	height: 50px;
	width: 100%;
	margin-bottom: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	&__text {
		display: flex;
		max-width: 260px;
		margin-left: 20px;
	}
	&__input {
		width: 100%;
		max-width: 260px;
		background-color: #fff;
		padding: 2px 10px;
	}
	&__search {
		border: none;
		background-color: #33b1da;
	}
	&__available {
		display: flex;
		// height: 20px;
		line-height: 20px;
	}
	&__checkbox {
		height: 20px;
		width: 20px;
		margin-right: 5px;
		// text-align: center;
	}
	&__range {
		display: flex;
		align-items: center;
		margin: 0 10px;
	}
}

.range {
	width: 150px;
	height: 10px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	margin: 0 5px;
	&__between {
		height: 10px;
		background-color: #33b1da;
		position: absolute;
		width: 100%;
		border-radius: 5px;
	}
	&__button-left {
		background-color: #c1c1c1;
		left: 0;
	}
	&__button-right {
		background-color: #c1c1c1;
		right: 0;
	}
	&__button-left, &__button-right {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		position: absolute;
		cursor: pointer;
		top: -2.5px;
	} 
}





.catalog {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.modal {
	width: auto;
	top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: center;
	&__block {
		height: 400px;
		width: 500px;
		background-color: #ffffff;
		display: flex;
		position: relative;
		border-radius: 5px;
	}
	&__close {
		position: absolute;
		right: -20px;
		font-size: 20px;
		color:  #ccc;
		&:hover {
			cursor: pointer;
			color:  #000;
			transition: all .2s linear;
		}
	}
	&__image {
		display: flex;
		align-items: center;
	}
	&__title {
		text-align: center;
		margin-bottom: 40px;
	}
	&__descr {
		height: 150px;
		overflow: auto;
		span {
			display: inline-block;
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
	&__image-main {
		width: 250px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		padding: 40px 40px;
		width: 50%;
		position: relative;
	}
	&__price {
		display: flex;
		justify-content: space-between;
		span {
			font-size: 12px;
			line-height: 19px;
		}
	}
	&__price-current {
		font-size: 19px;
    	font-weight: 700;
		color: #33b1da;
	}
	&__available {
		.true{ color: #c7e76a;}
		.false{ color: coral;}
	}
	&__cart {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: 20px;
		margin: 20px;
	}
	&__add {
		background-color: #2796ff;
		padding: 5px;
		margin-right: 15px;
		border-radius: 2px;
		box-shadow: 0 2px 8px 0 rgba(39,150,255,.6);
		&:hover {
			cursor: pointer;
			background-color: #0060d1;
			transition: all .2s linear;
		}	
	}
	&__quantity {
		padding: 0 3px;
		border-radius: 3px;
		border: 2px solid #E5E5E5;
	}

}

.item {
    position: relative;
    margin-bottom: 39px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	a {
		text-decoration: none;
	}
}
.item:hover{
    box-shadow: 0px 5px 8px 0px RGB(51, 177, 218, .26 );
}
.item__product {
    // width: 261px;
    display: block;
}
.item__img{
    width: 361px; 
}
.item:hover .item__img{
    filter: brightness(50%);
}
.item__footer {
	padding: 20px 15px;
}
.item__named {
    color:  #222222;
	font-size: 19px;
	text-align: center;
    // font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px; 
}
.item__price {
    font-size: 19px;
    // font-weight: 700;
	color: #33b1da;
	text-align: end;
}
.item__add {
    width: 100%;
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
}
.item:hover .item__add{
    display: flex;
}
.add {
    border: 1px solid #ffffff;
    padding: 9px 12px;
    color:  #ffffff;
    font-size: 13px;
    // font-weight: 700; 
    display: flex;
	align-items: center;
	cursor: pointer;
}
.add:hover{
    box-shadow: 0 0 8px #fff;
}

.pagination {
    display: inline-block;
	margin: 0 auto;
	&__page-number {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
		&:hover {
			background-color: coral;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}


.not-available {
	filter: brightness(50%);
}
.not-suitable {
	filter: brightness(70%);
}
.lock {
    overflow: hidden;
}
.invisible {
	display: none;
}